
extends partials/layout.pug

block content
  .app
    div(class='container')
      div(class='row')
        div(class='col-lg-4 col-md-4' style='background-color: #393351;')
          div(class='row around-lg around-md channels')
            div(class='col-lg-3 col-md-3')
              a(href='#' class='channels__link')
                div(class='channels__link__items' style='border-radius= 10px; background-color= #6E93F6; padding= 5px;')
                  p(class='items__text' style='color= white;') W
            div(class='col-lg-3 col-md-3')
              a(href='#' class='channels__link')
                div(class='channels__link__items' style='border-radius= 10px; background-color= #F7CB95; padding= 5px;')
                  p(class='items__text' style='color= white;') H
            div(class='col-lg-3 col-md-3')
              a(href='#' class='channels__link')
                div(class='channels__link__items' style='border-radius= 10px; background-color= #FF5D94; padding= 5px;')
                  p(class='items__text' style='color= white;') G
            div(class='col-lg-3 col-md-3')
              a(href='#' class='channels__link')
                div(class='channels__link__items' style='border-radius= 50px; background-color= #4B7CFF; padding= 5px;')
                  p(class='items__text' style='color= white;') +
          div(class='row title')
            div(class='col-lg-10 col-md-10')
              h2(class='title__name' style='color: white;') Home
            div(class='col-lg-2 col-md-2')
              a(href='#' class='title__modif')
                div(class='title__modif__button' style='border-radius= 50px; background-color= #4B7CFF; padding= 5px;')
                  p(class='button__items' style='color= white;') +
          div(class='row recent')
            div(class='col-lg-8 col-md-8')
              p(class='recent__title' style='font-size= 12px;') RECENT
            div(class='col-lg-4 col-md-4')
              div(class='recent__button' style='border-radius: 60px; background-color: #F7CB95; width: 29px; height: 29px;')
              div(class='recent__button' style='border-radius: 60px; background-color: #4B7CFF; width: 29px; height: 29px;')
                p(class='recent__button__value' style='color= white;') +

          div(class='row around-lg contact' style='margin-top= 15px;')
            div(class='col-lg-2 col-md-2')
              img(src='img/pdp-contact.png' alt='Photo de profil' style='border-radius= 80px width= 52px; height= 52px;' class='contact__img')
            div(class='col-lg-8 col-md-8')
              p(class='contact__name' style='color: white;') Bastian Sarti
            div(class='col-lg-2 col-md-2')
              div(class='contact__notification' style='border-radius= 100px; background-color: #4A7BFF; height: 35px; width: 35px;')
                p(class='contact__notification__number' style='color: white;') 2

            div(class='row around-lg contact' style='margin-top= 15px;')
              div(class='col-lg-2 col-md-2')
                img(src='img/pdp-contact.png' alt='Photo de profil' style='border-radius= 80px width= 52px; height= 52px;' class='contact__img')
              div(class='col-lg-8 col-md-8')
                p(class='contact__name' style='color: white;') Bastian Sarti

            div(class='row around-lg contact' style='margin-top= 15px;')
              div(class='col-lg-2 col-md-2')
                img(src='img/pdp-contact.png' alt='Photo de profil' style='border-radius= 80px width= 52px; height= 52px;' class='contact__img')
              div(class='col-lg-8 col-md-8')
                p(class='contact__name' style='color: white;') Bastian Sarti

            div(class='row around-lg contact' style='margin-top= 15px;')
              div(class='col-lg-2 col-md-2')
                img(src='img/pdp-contact.png' alt='Photo de profil' style='border-radius= 80px width= 52px; height= 52px;' class='contact__img')
              div(class='col-lg-8 col-md-8')
                p(class='contact__name' style='color: white;') Bastian Sarti

        div(class='col-lg-8 col-md-8' style='background-color= #2F2C43;')
          div(class='row info' style='background-color= #393351;')
            div(class='col-lg-3 col-lg-3')
              img(src='img/pdp-contact.png' alt='Photo de profil' style='border-radius= 80px width= 52px; height= 52px;' class='info__img')
            div(class='col-lg-6 col-md-6')
              p(class='info__name' style='color= white;') Loki
            div(class='col-lg-3 col-md-3')
              div(class='info__buble' style='border-radius= 100px; height= 30px; width= 30px; background-color= #4D4762;')
                p(class='info__buble__text' style='color: white;') ...
              div(class='info__buble' style='border-radius= 100px; height= 30px; width= 30px; background-color= #4DD964;')
                p(class='info__buble__text' style='color: white;') /\
              div(class='info__buble' style='border-radius= 100px; height= 30px; width= 30px; background-color= #4B7CFF;')
                p(class='info__buble__text' style='color: white;') i
          div(class='row center-lg center-md date' style='bakcground-color= #393351; padding: 5px; border-radius: 10px;')
            div(class='col')
              p(class='date__text') Ven. 2 Jan

          div(class='row message')
            div(class='col-lg-offset-5 col-lg-5' style='padding= 10px; background-color= #4D7CFE; border-raidus= 10px;')
              p(class="message__description" style="color= #9BB1ED;") Loki    13:32
              p(class="message__text" style='color= white;') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            div(class='col-lg-2')
              img(src='img/pdp-contact.png' alt='Photo de profil' style='border-radius= 80px width= 52px; height= 52px;' class='info__img')
          
          div(class='row message')
            div(class='col-lg-2')
              img(src='img/pdp-contact.png' alt='Photo de profil' style='border-radius= 80px width= 52px; height= 52px;' class='info__img')
            div(class='col-lg-5' style='padding= 10px; background-color= #F3AF7C; border-raidus= 10px;')
              p(class="message__description" style="color= #F5DAC6;") YOU    13:32
              p(class="message__text" style='color= white;') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
          
          div(class='row message')
            div(class='col-lg-offset-5 col-lg-5' style='padding= 10px; background-color= #4D7CFE; border-raidus= 10px;')
              p(class="message__description" style="color= #9BB1ED;") Loki    13:32
              p(class="message__text" style='color= white;') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            div(class='col-lg-2')
              img(src='img/pdp-contact.png' alt='Photo de profil' style='border-radius= 80px width= 52px; height= 52px;' class='info__img')

          div(class='row text' style='border-radius= 15px; background-color= #393351; padding= 8px;')
            div(class='col-lg-2')
              div(class='text__join' style="background-color= white; border-radius= 80px; padding= 5px; height= 20px width= 20px;")
            div(class='col-lg-6')
              p(class='text__indication' style='color= #59576E;') Écrire un message
            div(class='col-lg-2')
              div(class='text__join' style="background-color= white; border-radius= 80px; padding= 5px; height= 20px width= 20px;")
            div(class='col-lg-2')
              p(class='text__send' style='color= white;') Send
          

              

